process {
    withName:CREATE {
        container = "satijalab/seurat:4.3.0"
    }
    withName:NORMALIZE {
        container = "satijalab/seurat:4.3.0"
    }
    withName:MARKERS {
        container = "satijalab/seurat:4.3.0"
    }
}

docker {
    runOptions = '-u $(id -u):$(id -g)'
    enabled = true
}